* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
figcaption {
	display: none;
}
.header-container {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
header {
	margin: 0.6rem;
	border-radius: 2rem;
	background-color: rgb(23, 23, 59);
	color: white;
	padding: 1rem;
	height: auto;
}
h1 {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}
body {
	background-color: rgb(217, 217, 230);
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
form {
	min-height: 50%;
	min-width: 85%;
	background-color: rgb(23, 23, 59);
	color: white;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 1rem;
}
.conversion-box {
	display: flex;
	gap: 1.5rem;
	margin-bottom: 2rem;
}
#form-btn {
	margin-top: 3rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: rgb(100, 100, 255);
	color: white;
	font-size: 1rem;
	cursor: pointer;
}
label {
	margin-right: 0.5rem;
}
#result {
	background-color: rgb(100, 100, 255);
	color: white;
	font-size: 0.7rem;
	margin: 3rem;
	border-radius: 1rem;
}
h2 {
	font-family: monospace;
}
