* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
figcaption {
	display: none;
}
.header-container {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
header {
	margin: 0.6rem;
	border-radius: 2rem;
	background-color: rgb(23, 23, 59);
	color: white;
	padding: 10px;
}
h1 {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}
body {
	background-color: rgb(217, 217, 230);
}
